* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Lato, "sans-serif";
}

nav {
  padding: 1em 3em;
  display: flex;
  justify-content: end;
  background-color: rgb(20, 22, 20);
}

a {
  text-decoration: none;
  color: #ddd;
}

li {
  list-style: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

main {
  padding: 1em 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: #222;
  text-align: center;
  margin-top: 3rem;
}

h2 {
  color: #222;
  margin: 2em 0;
}

p {
  color: #222;
}

small {
  color: #aaa;
}

.container {
  max-width: "500px";
}
